MONDAY_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjUyMTc2OTgzMywiYWFpIjoxMSwidWlkIjo2NTI4NTM5MSwiaWFkIjoiMjAyNS0wNi0wNFQwNzo0MDoyNC44MzJaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjUxMjkyOTUsInJnbiI6ImFwc2UyIn0.d2XSUX2QlYOew-CpB10syeDsQa7VVuHIuWwDQYwEexY
# DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1435123901826072578/vqcbjThh4vMrtiSzf38sPYYv6CY1tvi1ekOeWFzgnOJPxVt6DHzrNeVSh1WWnlzL_gAv