# For web scraping and browser automation
selenium
selenium-wire
pyOpenSSL<24.0.0
cryptography<42.0.0
blinker<1.8.0
webdriver-manager
setuptools<70.0.0

# For data manipulation
pandas
openpyxl  # Required by pandas for reading/writing .xlsx files

# For making API requests to Monday.com
requests

# For loading environment variables from .env files
python-dotenv

# For progress bars in console applications
tqdm
openpyxl

# For scheduling tasks
schedule

# For Async API Client & Server
aiohttp
cachetools
PyJWT
fastapi
uvicorn
