# credentials.py
# --- SENSITIVE ---
# This file contains account credentials.
# DO NOT commit this file to version control. Add it to your .gitignore file.

ACCOUNT_CREDS = {
    "F1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "F2": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "F2S": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "W1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "L1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "L2": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "DE1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "DE1S": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "S1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "H1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "K1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "E1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "R1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "D1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "T1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "FM1": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "FM2": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "FM3": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
    "FM4": {
        "username": "YOUR_USERNAME",
        "password": "YOUR_PASSWORD",
    },
}
