# credentials_shopee.py.example
# Rename this file to credentials_shopee.py and update the values with your actual credentials.

ACCOUNT_CREDS = {
    "YOUR_PORTAL_HERE": {
        "username": "YOUR_USERNAME_HERE",
        "password": "YOUR_PASSWORD_HERE",
        "phone": "YOUR_PHONE_NUMBER_HERE"
    }
}
