# credentials_grab.py.example
# Rename this file to credentials_grab.py and update the values with your actual credentials.

ACCOUNT_CREDS = {
    "Grab_Master": {
        "username": "YOUR_USERNAME_HERE",
        "password": "YOUR_PASSWORD_HERE",
    }
}
