# credentials.py

# Dictionary to hold all your ShopeeFood Partner Portal account credentials.
ACCOUNT_CREDS = {
    "your_portal": {
        "username": "your_portal_username",
        "password": "your_portal_password",
    }
}
